{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 ml-2">Student List</h1>
<a href="{% url 'student_create' %}" class="bg-blue-500 text-white px-4 py-2 rounded ml-2"><span class="text-lg font-bold mr-1">+</span>Add Student</a>
<div class="mt-4">
    {% for student in students %}
    <div class="bg-white p-4 rounded shadow mb-2">
        <h2 class="text-xl font-semibold">{{ student.name }}</h2>
        <p>{{ student.email }} | {{ student.phone }} | {{ student.course }}</p>
        <div class="mt-2">
            <a href="{% url 'student_update' student.id %}" class="bg-yellow-500 text-white px-3 py-1 rounded">Edit</a>
            <a href="{% url 'student_delete' student.id %}" class="bg-red-500 text-white px-3 py-1 rounded">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}